@model IEnumerable<BookShop.Models.OrderList>

@{
    ViewData["Title"] = "Index";
   string orderid= (string) ViewData["orderid"];
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bookid)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
   
         if (item.Orderid.ToString() !=orderid)
         {
             continue;
         }
    
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Bookid)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-controller="Books" asp-action="Details" asp-route-id="@item.Bookid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
